body{
    font-family: Arial, Helvetica, sans-serif;
}
.header {
  width: 100%;
  display: flex;
}

.my-photo {
  width: 23%;
  float: left;
}

.my-photo img {
  width: 100%;
}

.header-content {
  width: 44%;
  float: left;
  margin-left: 25px;
 
}

#name{
    border-bottom: 3px solid;
}

.fecha, .direccion, .correo, .numero{
   text-decoration-line: underline;
}

section {
  margin-left: 80px;
}

.section-header {
  cursor: pointer;
}

.experience,
.studies,
.languages, 
.aptitudes {
  display: none;
}
button:hover{
    background-color: silver;
}
button{
    border-radius: 6px;
    width: 77px;
    height: 38px;
    border: 2px;
    margin-bottom: 12px;
}

.active {
  display: block;
  background-color: azure;
  padding: 10px;
}
footer{
    margin-left: 50px;
}
#button{
    height: 35px;
    margin-top: 15px;
}

